@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Luis Book Store</h1>
    <p><em>Your Vice City Book store</em></p>
    <img src="~/img/book.jpg" alt="picture of book" width="300" height="300" />
    
</div>
